{% extends "main_layout.html" %}
{% block content%}

<div class="container">
    <div class="card shadow">
        <div class="card-header text-center">
            <h5 class="card-title">先生登録画面</h5>
        </div>
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="mb-3">
                    <label for="name" class="form-label">お名前</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">科目</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">料金</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">日時</label>
                    <input type="text" class="form-control" id="time" name="time">
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">自己紹介</label>
                    <textarea class="form-control" id="text" rows=5 name="text"></textarea>
                </div>
            </div>
            <!-- <div class="card-footer text-center"> -->
                <div class="d-grid gap-2 mx-3 mb-4 mt-1">
                    <button type="submit" class="btn btn-primary">登録</button>
                </div>
            <!-- </div> -->
        </form>
    </div>
</div>

{% endblock %}