{% extends "main_layout.html" %}
{% block content%}

<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div class="container text-center">
                <img src="/static/images/{{teacher.image}}.png" class="rounded-circle" width="150" height="150"
                    alt="...">
                <h5 class="card-title mt-3">{{teacher.name}} 先生</h5>
                <table class="table mt-4">
                    <tbody>
                        <tr>
                            <th scope="row">料金</th>
                            <td>{{teacher.price}}</td>
                        </tr>
                        <tr>
                            <th scope="row">時間</th>
                            <td>{{teacher.time}}</td>
                        </tr>
                        <tr>
                            <th scope="row">自己紹介</th>
                            <td colspan="2">{{teacher.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form action="/request" method="POST">
                <input type="hidden" class="form-control" name="teacher_id" value="{{teacher.id}}">
                <div class="d-grid gap-2 mt-5 mb-2">
                    <button type="submit" class="btn btn-primary">授業をお願いする</button>
                </div>
            </form>

        </div>
    </div>

    <h5 class="mt-5 mb-1">レビュー</h5>
    
    {% if score_average != 0 %}
    <div class="stars-review">
        <span>
            {% for _ in range(score_round) %}
            <label style="color: #F8C601; margin-right: -5px;">★</label>
            {% endfor %}
            {% for _ in range(5-score_round) %}
            <label style="color: #D2D2D2; margin-right: -5px;;">★</label>
            {% endfor %}
            <label style="margin-left: 5px;">{{score_average}}</label>
        </span>
    </div>
    {% endif %}

    {% if not reviews %}
    <p>まだレビューはありません．</p>
    {% endif %}

    {% for review in reviews %}
    <div class="card shadow-sm p-3 my-3">
        <div class="card-title">
            <div class="stars-review">
                <span>
                    {% for _ in range(review.rating) %}
                    <label style="color: #F8C601; margin-right: -5px;">★</label>
                    {% endfor %}
                    {% for _ in range(5-review.rating) %}
                    <label style="color: #D2D2D2; margin-right: -5px;;">★</label>
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="card-text">
            {{review.text}}
        </div>
    </div>
    {% endfor %}



</div>

{% endblock %}